<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!DOCTYPE html>
<html>
	<head>
		<title>Chatbot</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>	
    </head>
	
	
	<body>
	  
		<div class="img-container" id="img-div-id"><img id="anhhuongdanscan" src="static\templates\loading.gif" alt=""></div>
	<!-- form cư trú -->
		
		<div class="dktt-box" id="formcutru" style="visibility: hidden;">
			
		</div>



		<!-- Kết thúc form cư trú -->
		<div id="videoct"><video id="yt-vid" autoplay muted loop><source src="\static\templates\gizdayy.mp4" type="video/mp4"></video></div>
		<!-- <div id="videoct"><iframe id="yt-vid" src="https://www.youtube.com/embed/6AHAUUr1OVU?si=f8rSAe33aWKvR7Ar&autoplay=1&controls=0&disablekb=1&modestbranding=1&showinfo=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div> -->
		<!-- <div class="center" style="z-index: 10 !important;">
			<div class="wave"></div>
			<div class="wave"></div>
			<div class="wave"></div>
			<div class="wave"></div>
			<div class="wave"></div>
			<div class="wave"></div>
			<div class="wave"></div>
			<div class="wave"></div>
			<div class="wave"></div>
			<div class="wave"></div>
		</div> -->
		<button id="restartBT"><i class="fas fa-arrow-left"></i></button>
		<div id="background-layout" style="visibility: hidden;"></div>
		<div id="process-area" class="dialog-area" style="visibility: hidden;z-index: 9; ">
					<div id="login_area">
								
						<h3 class="login-title">Đăng nhập VNeID</h3>
						<!-- <form class="signin-form" id="loginArea">
							<div class="form-group">
								<input type="text" class="form-control" id="SDD" name="userID" placeholder="Số định danh" >
							</div>
							<div class="form-group">
								<input id="password-field" name="userPass" type="password"  class="form-control" placeholder="Mât khẩu" >
							</div>
							<div class="form-group">
								<button id="LoginSubmit" class="form-control btn btn-primary submit px-3" style="background-color: #d71920;border: none;">Đăng nhập</button>
							</div>

							<div class="form-group d-md-flex"><div class="w-50"></div></div>
						</form> -->

						<!-- <section id="QR-sign">
							<div id="fetched-html">
								<img id="QRCode" src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" decoding="async" data-nimg="intrinsic" >
								<p>Hoặc quét mã QR bằng ứng dụng VNeID để đăng nhập.</p>
							</div>
						</section>

						<section id="OTP-area" style="visibility: hidden;">
							<div class="prompt">Vui lòng nhập mã OTP đã được gửi vào số điện thoại của bạn!</div>
								
							<form id ="otp-form" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
								<input type="text" class="otp-digit" id="digit-1" name="digit-1" data-next="digit-2" />
								<input type="text" class="otp-digit" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
								<input type="text" class="otp-digit" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
								<span class="splitter">&ndash;</span>
								<input type="text" class="otp-digit" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" />
								<input type="text" class="otp-digit" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" />
								<input type="text" class="otp-digit" id="digit-6" name="digit-6" data-previous="digit-5" />
								<button id="OTP-submit-btn"  style="border: none; border-radius: 20px; font-size: 150%; padding: 10px 12px;font-weight: 900; margin-left: 3%;"><i class="fas fa-arrow-right"></i></button>
							</form>
						</section> -->
						<section id="QR-sign">
							<div id="fetched-html">
								<img id="QRCode" src="\\static\\templates\\taiQR.gif" decoding="async" data-nimg="intrinsic" >
								<p><b>Trạng thái đăng nhập: </b><span id="dangnhap-state" class="chudoindam">Chờ đăng nhập</span></p>
								<p style="margin-top: 5rem;"><b>Hướng dẫn đăng nhập</b></p>
								<p style="margin-top: 8rem; text-align: left; padding-left: 10px;">1. Vào ứng dụng VNeID</p>
								<p style="margin-top: 11rem; text-align: left; padding-left: 10px;">2. Chọn phần quét đăng nhập</p>
								<p style="margin-top: 14rem; text-align: left; padding-left: 10px;">3. Xác nhận đăng nhập</p>
							</div>
						</section>
					</div>

		</div>
		
		

		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">		
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
									<div class="img_cont">
										<img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img">
										<span class="online_icon"></span>
									</div>
									<div class="user_info">
										<span>Trợ lý dịch vụ công</span>
										<p>Hỗ trợ các công việc liên quan đến dịch vụ công!</p>
									</div>
                               
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body"> 
							
						</div>
                                                     
                            

						<div class="card-footer">
							<form id="messageArea" class="input-group">
                                <input  type="text" id="text" name="msg" placeholder="Xin nhập vào đây ..." autocomplete="off" class="form-control type_msg" required/>
								<div  class="input-group-append">
									<button type="button" id="micToggle" class="input-group-text send_btn" ><i class="fas fa-microphone"></i></button>
									<button type="submit" id="send" class="input-group-text send_btn" style="border-radius: 0 30% 30% 0 !important;"><i class="fas fa-location-arrow"></i></button>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

		<script src="/static/script.js"></script>

        <script>
			const loginCheck = false;
			const date = new Date();
			const hour = date.getHours();
			const minute = date.getMinutes();
			const str_time = hour+":"+minute;
			var history_conversation = [];
			$.ajax({
				url:"/greentings",
				success:function(response){
					var GreetingsHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + response.greetings  + '<br><span class="msg_time">' + str_time + '</span></div></div>';
					$("#messageFormeight").append($.parseHTML(GreetingsHtml));
					var GreetingsHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + response.pre_start  + '<span class="msg_time">' + str_time + '</span></div></div>';
					$("#messageFormeight").append($.parseHTML(GreetingsHtml));
					scrollToBottom(); 

				}
			})
			var noti = "";
			let isRunning = true;
			let timeoutId;
			let qua3s = false;
			let dachondvc = false;
			var trangthaiglobal = "";
			var batdau = false;
			var sls = false;
			var Htmld = '<div id="doity" class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer"> Đang xử lý yêu cầu...</div></div>';
			function getQR(){
				if (!isRunning) return;
				$.ajax({
					url: '/get_qr_code',
					success: function(response) {
						qr = response["QR"]
						trangthai = response["TTDN"]
						$('#QRCode').attr('src', qr);
						if ($('#QRCode').src !== ""){
							// $(".center").css("visibility",'hidden')
							$("#dangnhap-state").removeClass("chudenindam").addClass("chudoindam");
							$("#dangnhap-state").text("Chờ đăng nhập");
						}
						if (qr === ""){
							$("#dangnhap-state").removeClass("chudoindam").addClass("chudenindam");
							$("#dangnhap-state").text("Đang tải...");
							$('#QRCode').attr('src', "\\static\\templates\\taiQR.gif");
						}		
						if (trangthai.includes("--") && (trangthaiglobal !== trangthai)){ 
							var trangthai = trangthai.split('--')[1].trim()
							$("#dangnhap-state").removeClass("chudenindam").addClass("chuxanhindam");
							$("#dangnhap-state").text("Đã đăng nhập");
							$('#QRCode').attr('src', "\\static\\templates\\login_success.gif");
							setTimeout(function() {
								$("#process-area").hide();
								$("#background-layout").hide();
								var LoginSuccessedHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer"> Xin chào ' + trangthai +'! Bạn đã đăng nhập thành công.<span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(LoginSuccessedHtml));
								$("#yt-vid").css("opacity","1");
								if (dachondvc === true){
									$("#text").val("Đồng ý");
									$("#messageArea").submit();
									$("#khuchuabtn").remove();
								}
								// $("#process-area").css("visibility","hidden");
								// $(".card").css("width","200%");
								// $(".card").css("left","-31.5rem");
								//$(".input-group").css("width","96.5%");
								return;
							}, 5000);
							isRunning = false; // Set the flag to false to stop
							clearTimeout(timeoutId);	
						}
						trangthaiglobal = trangthai
					}

					});
				timeoutId = setTimeout(getQR, 3000);
				}
			function checkNotifications() {
                fetch('/notifications')
                    .then(response => response.json())
                    .then(data => {
                        if (data.notifications === "Page is blank") {
							alert("Lỗi khi tải trang. Ứng dụng khởi động lại")
							redirectToRoute();
                        }
						// if (data.notifications === "Sai" && sls === false){
						// 	alert("Sai tài khoản hoặc mật khẩu")
						// 	$("#OTP-area").css("visibility", "hidden"); 
						// 	$('#SDD').val("");
						// 	$('#password-field').val("");
						// 	sls = true;
						// 	setTimeout(function() {
						// 		sls = false;
						// 	}, 5000);
						// }
                    });
            }
            setInterval(checkNotifications, 5000);
			//Kiểm tra người dùng inactive thì restart
			 let inactivityTimeout;
			 function resetTimer() {
			 	clearTimeout(inactivityTimeout);
			 	inactivityTimeout = setTimeout(redirectToRoute, 300000);
			 }
			 function redirectToRoute() {
				isRunning = false; // Set the flag to false to stop
    			clearTimeout(timeoutId);
			 	$("#messageFormeight").val("")
				dachondvc = false;
				document.getElementById('anhhuongdanscan').src = "static\\templates\\loading.gif";
				qua3s = false;
				trangthaiglobal = "";
				resetTimer();
			 	window.location.href = "http://127.0.0.1:5000/restart"; // Redirect to the timeout route
			 }
			 function doiemti(){
				if (!qua3s){
					$("#messageFormeight").append($.parseHTML(Htmld));
					scrollToBottom();	
					qua3s = true;
					$("#messageArea input").css("opacity","0.5");
					$("#messageArea input").prop("disabled",true);
				}
			 }
			 resetTimer();
			 document.addEventListener('mousemove', resetTimer);
			 document.addEventListener('keydown', resetTimer);
			$(document).ready(function() {
				setTimeout(function() {
					getQR();
				}, 10000);
				$('#restartBT').click(function(event) {
					var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">Đang về trang chủ. Vui lòng đợi trong giây lát...<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
					$("#messageFormeight").append(userHtml);
					$("#messageArea input").css("opacity","0.5");
					$("#messageArea input").prop("disabled",true);
					redirectToRoute();
				});
				
				$('#otp-form input[type="text"]').on('input', function() {
					var value = $(this).val();
					var validValue = value.match(/^\d?$/);
					if (validValue) {
						$(this).data('lastValid', value);
					} else {
						$(this).val($(this).data('lastValid') || '');
					}
				});

				// $('#SDD').on('input', function() {
				// 	var value = $(this).val();
				// 	var cleanValue = value.replace(/[^0-9]/g, ''); 
				// 	if (cleanValue.length > 12) {
				// 		cleanValue = cleanValue.substring(0, 12); 
				// 	}
				// 	$(this).val(cleanValue); 
				// });
	
				$("#messageArea").on("click", function(event) {
					if (batdau === false){
						batdau = true;
						var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" 	class="rounded-circle user_img_msg"></div><div class="msg_cotainer">Bạn muốn thực hiện loại dịch vụ công nào?<br><div class="khuchuabtn"><button id="cancuocbtn">Dịch vụ công căn cước</button><button id="cutrubtn">Dịch vụ công cư trú</button></div>Hoặc nếu bạn có bất kỳ thắc mắc nào có thể nhập vào khung bên dưới. <span class="msg_time">' + str_time + '</span></div>';
						$("#messageFormeight").append($.parseHTML(botHtml)); 
						

					}
				});
				$(document).on("click", "#cancuocbtn", function(event) {
					$("#text").val("Dịch vụ công căn cước");
					$("#messageArea").submit();
					$(".khuchuabtn").remove();
				});
				$(document).on("click", "#cutrubtn", function(event) {
					$("#text").val("Dịch vụ công cư trú");
					$("#messageArea").submit();
					$(".khuchuabtn").remove(); 
				});
				$("#messageArea").on("submit", function(event) {
					var rawText = $("#text").val();
					var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
					$("#text").val("");
					if (rawText != ''){
						$("#messageFormeight").append(userHtml);
					}
					qua3s = false;
					let doichut = setTimeout(doiemti,2000)
					scrollToBottom();
					event.preventDefault();
					$.ajax({
						url:"/get",
						type:"POST",
						data:{msg:rawText},
						success:function(data){
							$("#doity").remove()
							qua3s = true;
							$("#messageArea input").css("opacity","1");
							$("#messageArea input").prop("disabled",false);
							if (data === "Đây là video hướng dẫn đăng nhập băng VNeID qua mã QR"){
								var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" 	class="rounded-circle user_img_msg"></div><div class="msg_cotainer"><div class="video-container"><video autoplay width="650" height="380" controls><source src="static/templates/Untitled_Project_V2.mp4" type="video/mp4"></video></div><span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(botHtml)); 
								var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" 	class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div>';
								$("#messageFormeight").append($.parseHTML(botHtml)); 
								scrollToBottom();
							}
							else if(data.includes("Dịch vụ công phù hợp là Cấp, quản lý thẻ căn cước ---") && data.includes("cấp lại")){
								var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer"> Vui lòng đợi trong giây lát! <span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(Html));
								scrollToBottom();
								$("#messageArea input").css("opacity","0.5");
								$("#messageArea input").prop("disabled",true);
								document.getElementById("videoct").style.visibility = 'hidden';
								document.getElementById('img-div-id').style.visibility = 'visible';	
								$.ajax({
									url:"/chon_dvc_caplai",
									success:function(response){
										if (response === "lỗi"){
											alert("Lỗi khi thực hiện dịch vụ. Ứng dụng sẽ khởi động lại", 5)
											redirectToRoute();
										} else {
										document.getElementById('anhhuongdanscan').src = "static\\templates\\hoanthanh.gif";
										setTimeout(function() {
											document.getElementById('img-div-id').style.visibility = 'hidden';
											document.getElementById('anhhuongdanscan').src = "static\\templates\\loading.gif";
											document.getElementById("videoct").style.visibility = "visible";
											$("#messageArea input").css("opacity","1");
											$("#messageArea input").prop("disabled",false);}, 5000);
										var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer"> Đã gửi yêu cầu cấp lại căn cước thành công. Mời bạn ra quầy để làm thủ tục kế tiếp. <span class="msg_time">' + str_time + '</span></div></div>';
										$("#messageFormeight").append($.parseHTML(Html));
										var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">Bạn còn cần hỗ trợ gì không? Nếu không xin hãy bấm nút mũi tên để thoát tài khoản <span class="msg_time">' + str_time + '</span></div></div>';
										$("#messageFormeight").append($.parseHTML(Html));	
										$("#messageArea input").css("opacity","0.5");
										$("#messageArea input").prop("disabled",false);
										scrollToBottom();
																								
										}}
									})
							}
							else if(data === "Dịch vụ công phù hợp là Cấp, quản lý thẻ căn cước --- xác nhận số"){
								var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">'+ data + ' Vui lòng đợi trong giây lát <span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(Html));
								scrollToBottom();
								$("#messageArea input").css("opacity","0.5");
								$("#messageArea input").prop("disabled",true);	
								document.getElementById("videoct").style.visibility = 'hidden';
								document.getElementById('img-div-id').style.visibility = 'visible';	
								$.ajax({
									url:"/chon_dvc_xacminh",
									success:function(response){
										if (response === "lỗi"){
											alert("Lỗi khi thực hiện dịch vụ. Ứng dụng sẽ khởi động lại", 5)
											redirectToRoute();
										} else {
										document.getElementById('anhhuongdanscan').src = "static\\templates\\hoanthanh.gif";
										setTimeout(function() {
											document.getElementById('img-div-id').style.visibility = 'hidden';
											document.getElementById('anhhuongdanscan').src = "static\\templates\\loading.gif";
											document.getElementById("videoct").style.visibility = "visible";
											$("#messageArea input").css("opacity","1");
											$("#messageArea input").prop("disabled",false);}, 5000);
										var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer"> Đã hoàn thành gửi yêu cầu xác minh số căn cước. Mời bạn ra quầy để làm thủ tục kế tiếp.<span class="msg_time">' + str_time + '</span></div></div>';
										$("#messageFormeight").append($.parseHTML(Html));
										var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">Bạn còn cần hỗ trợ gì không? Nếu không xin hãy bấm nút mũi tên để thoát tài khoản<span class="msg_time">' + str_time + '</span></div></div>';
										$("#messageFormeight").append($.parseHTML(Html));
										scrollToBottom();
										$("#messageArea input").css("opacity","1");
										$("#messageArea input").prop("disabled",false);	
										}}
									})
							}
							else if(data.includes("Dịch vụ công phù hợp là Cấp, quản lý thẻ căn cước ---") && data.includes("cấp đổi")){
								var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">'+ data + ' Vui lòng đợi trong giây lát! <span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(Html));
								$("#messageArea input").css("opacity","0.5");
								$("#messageArea input").prop("disabled",true);
								document.getElementById("videoct").style.visibility = 'hidden';
								document.getElementById('img-div-id').style.visibility = 'visible';		
								$.ajax({
									url:"/chon_dvc_doithe",
									success:function(response){
										if (response === "lỗi"){
											alert("Lỗi khi thực hiện dịch vụ. Ứng dụng sẽ khởi động lại", 5)
											redirectToRoute();
										} else {
										document.getElementById('anhhuongdanscan').src = "static\\templates\\hoanthanh.gif";
										setTimeout(function() {
											document.getElementById('img-div-id').style.visibility = 'hidden';
											document.getElementById('anhhuongdanscan').src = "static\\templates\\loading.gif";
											document.getElementById("videoct").style.visibility = "visible";}, 5000);
										var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer"> Đã hoàn thành gửi yêu cầu đổi thẻ căn cước. Mời bạn ra quầy để làm thủ tục kế tiếp. Bấm phím mũi tên ở góc trái để thoát tài khoản <span class="msg_time">' + str_time + '</span></div></div>';
										$("#messageFormeight").append($.parseHTML(Html));
										var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer"> Bạn còn cần hỗ trợ gì không? Nếu không xin hãy bấm nút mũi tên để thoát tài khoản<span class="msg_time">' + str_time + '</span></div></div>';
										$("#messageFormeight").append($.parseHTML(Html));
										scrollToBottom();
										history_conversation.append(response)
										}}
									})
								
							}
							else if(data.includes("Dịch vụ công phù hợp là Đăng ký, quản lý cư trú --- ") && data.includes("xác minh")){
								document.getElementById('anhhuongdanscan').src = "static\\templates\\huongdanky.gif";
								var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer"> "Dịch vụ công phù hợp với bạn là Xác minh cư trú.<br>Dịch vụ công này yêu cầu bạn chuẩn bị:<br>- Phiếu CT01 (sẽ được in sau khi bạn hoàn thành khai thông tin).<br>Để hoàn thành hồ sơ bạn cần điền đầy đủ thông tin yêu cầu vào phiếu CT01 theo Thông tư số 66/2023/TT-BCA <br>Vui lòng chờ trong giây lát để hệ thống tải lên thông tin của bạn."<span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(Html));
								scrollToBottom();
								$("#messageArea input").css("opacity","0.5");
								$("#messageArea input").prop("disabled",true);
								$.ajax({
									url:"/laythongtin",
									success:function(response){
										if (response.hasOwnProperty("messageER")){
											alert("Lỗi khi thực hiện dịch vụ. Ứng dụng sẽ khởi động lại", 5)
											redirectToRoute();
										} else{
										$('#formcutru').load('/static/xacminhct.html', function() {
											$('#hoten-dk').val(response["Họ tên"]);
											$('#ngaysinh-dk').val(response["Ngày sinh"]);
											$('#gioitinh-dk').val(response["Giới tính"]);
											$('#cccd-dk').val(response["Số ĐDCN/CMND người 1"]);
											$('#chuho-dk').val(response["Họ và tên chủ hộ"]);
											$('#qhChuho-dk').val(response["Quan hệ với chủ hộ"]);
											$('#cccdChuho-dk').val(response["Số CMND/CCCD/ĐDCN"]);
											$('#add-row').click();
											for (i=1;i<response["Số thành viên trong hộ"];i++){
												let thutu = i.toString();
												let thutung = (i+1).toString();
												$("#hoten-tb-"+thutu).val(response["Họ, chữ đệm, tên người " + thutung]);
												$("#cccd-tb-"+thutu).val(response["Số ĐDCN/CMND người " + thutung]);
												$("#gioitinh-tb-"+thutu).val(response["Giới tính người " + thutung]).change();
												if (i===response["Số thành viên trong hộ"]-1){
													break;
												}
												print(response["Họ, chữ đệm, tên người " + thutung])
												print(response["Số ĐDCN/CMND người " + thutung])
												$('#add-row').click();
											}
											const truongHopSelect = document.getElementById("truonghop");
											if (response["Nơi ở thường trú"].includes(response["Phường xã làm dv"])){
												truongHopSelect.value = "Cấp cho NK thường trú trên địa bàn quản lý";
											} else {
												truongHopSelect.value = "Cấp cho NK thường trú khác địa bàn quản lý";
											}
											$('.phuong-xa-chung').change(function() {
												var phuongxaid = "#phuong-xa-"+phuongXanow;
												var selectedValue = $(phuongxaid).find("option:selected").text();
												const truongHopSelect = document.getElementById("truonghop");
												if (response["Nơi ở thường trú"].includes(selectedValue)){
													truongHopSelect.value = "Cấp cho NK thường trú trên địa bàn quản lý";
												} else {
													truongHopSelect.value = "Cấp cho NK thường trú khác địa bàn quản lý";
												}
											});
										});
										$("#formcutru").css("visibility","visible");
										$("#videoct").css("visibility","hidden");
										var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">Vui lòng kiểm tra kỹ các thông tin của bạn tại bảng bên cạnh. Nếu không có gì cần thay đổi, hãy ấn nút XÁC NHẬN để tiếp tục." <span class="msg_time">' + str_time + '</span></div></div>';
										$("#messageFormeight").append($.parseHTML(Html));
										scrollToBottom();
										$("#messageArea input").css("opacity","1");
										$("#messageArea input").prop("disabled",false);
										}
										
										
										}
									})

							}
							else if(data.includes("Dịch vụ công phù hợp là Đăng ký, quản lý cư trú --- ") && data.includes("tách hộ")){
								document.getElementById('anhhuongdanscan').src = "static\\templates\\huongdanky.gif";
								var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer"> "Dịch vụ công phù hợp với bạn là Tách hộ.<br>Dịch vụ công này yêu cầu bạn chuẩn bị:<br>- Phiếu CT01 (sẽ được in sau khi bạn hoàn thành khai thông tin).<br>- Giấy tờ, tài liệu chứng minh việc tiếp tục được sử dụng chỗ ở hợp pháp đó.<br>- Giấy tờ, tài liệu chứng minh việc ly hôn (tuỳ trường hợp).<br>Để hoàn thành hồ sơ bạn cần điền đầy đủ thông tin yêu cầu vào phiếu CT01 theo Thông tư số 66/2023/TT-BCA <br>Vui lòng chờ trong giây lát để hệ thống tải lên thông tin của bạn."<span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(Html));
								$("#messageArea input").css("opacity","0.5");
								$("#messageArea input").prop("disabled",true);
								$.ajax({
									url:"/laythongtin",
									success:function(response){
										if (response.hasOwnProperty("messageER")){
											alert("Lỗi khi lấy thông tin. Ứng dụng sẽ khởi động lại", 5)
											redirectToRoute();
										} else{
										$('#formcutru').load('/static/tachho.html', function() {
											$('#hoten-dk-tachho').val(response["Họ tên"]);
											$('#ngaysinh-dk-tachho').val(response["Ngày sinh"]);
											$('#gioitinh-dk-tachho').val(response["Giới tính"]);
											$('#cccd-dk-tachho').val(response["Số ĐDCN/CMND người 1"]);
											$('#chuho-dk-tachho').val(response["Họ và tên chủ hộ"]);
											$('#qhChuho-dk-tachho').val(response["Quan hệ với chủ hộ"]);
											$('#cccdChuho-dk-tachho').val(response["Số CMND/CCCD/ĐDCN"]);
										});
										$("#formcutru").css("visibility","visible");
										$("#videoct").css("visibility","hidden");
										var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">Hãy nhập các thông tin vào mẫu phiếu. Nếu bạn có thắc mắc về việc nhập phiếu có thể giao tiếp với tôi. <span class="msg_time">' + str_time + '</span></div></div>';
										$("#messageFormeight").append($.parseHTML(Html));
										scrollToBottom();	
										$("#messageArea input").css("opacity","0.5");
										$("#messageArea input").prop("disabled",true);	
										}}
									})
								
							
							}
							else if(data.includes("ĐỒNG Ý") && data.includes("HUỶ")){
								var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">'+ data+'<br><div class="khuchuabtn"><button id="dongybtn">ĐỒNG Ý</button><button id="huybtn">HUỶ</button></div><span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(Html));
								scrollToBottom();
								// $("#messageArea input").css("opacity","0.5");
								// $("#messageArea input").prop("disabled",true);
								
							}
							else if(data.includes("Một số dịch vụ công hay được tiếp nhận")){
								function tachChuoiGiua(chuoiGoc, chuoiBatDau, chuoiKetThuc) {
									const regex = new RegExp(chuoiBatDau + "(.*?)" + chuoiKetThuc);
									const ketQua = regex.exec(chuoiGoc);
									return ketQua ? ketQua[1] : null;
								}
								const dvc1 = tachChuoiGiua(data, "Dịch vụ 1: ", "---");
								const dvc2 = tachChuoiGiua(data, "Dịch vụ 2: ", "<br>");
								var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">Một số dịch vụ công hay được tiếp nhận:<br><div class="khuchuabtn"><button id="dvc1btn">'+dvc1+'</button><br><button id="dvc2btn">'+dvc2+'</button></div><span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(Html));
								scrollToBottom();
							}
							else if(data.includes("Vui lòng chờ trong giây lát để hệ thống tải lên thông tin của bạn")){
								var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">'+ data+'  <span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(Html));
								$.ajax({
									url:"/laythongtin",
									success:function(response){
										var Html = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">Hãy nhập các thông tin vào mẫu phiếu. Nếu bạn có thắc mắc về việc nhập phiếu có thể giao tiếp với tôi. <span class="msg_time">' + str_time + '</span></div></div>';
										$("#messageFormeight").append($.parseHTML(Html));
										scrollToBottom();
									history_conversation.append(response)
										}
									})
							}
							else if(data!==''){
								var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
								$("#messageFormeight").append($.parseHTML(botHtml));
							}
							scrollToBottom();
						}
					});
		
				});
				$(document).on("click", "#dongybtn", function(event) {
					if (trangthaiglobal.includes("thanhcong")){
						$("#text").val("Đồng ý");
						$("#messageArea").submit();
						$(".khuchuabtn").remove();
					} else {
						dachondvc = true;
						$("#background-layout").css("visibility", "visible")
						$("#process-area").css("visibility", "visible")
						alert("Trước tiên hãy đăng nhập vào dịch vụ công bằng khung bên trái. Sau đó bấm đồng ý để tiếp tục thực hiện.", 5)
						const ytVideo = document.getElementById('yt-vid');
						ytVideo.style.opacity = 0;
						$.ajax({
									url:"/restartBrowser",
						})
					}
				});
				$(document).on("click", "#huybtn", function(event) {
					$("#text").val("Huỷ");
					$("#messageArea").submit();
					$(".khuchuabtn").remove(); 
				});
				$(document).on("click", "#dvc1btn", function(event) {
					const dvc1 = document.getElementById("dvc1btn").innerText;
					$("#text").val(dvc1);
					$("#messageArea").submit();
					$(".khuchuabtn").remove(); 
				});
				$(document).on("click", "#dvc2btn", function(event) {
					const dvc2 = document.getElementById("dvc2btn").innerText;
					$("#text").val(dvc2);
					$("#messageArea").submit();
					$(".khuchuabtn").remove(); 
				});
				// $('#LoginSubmit').click(function(event) {
				// 	var user = $('#SDD').val();
				// 	var pass = $('#password-field').val();
				// 		event.preventDefault();
				// 		$.ajax({
				// 			url: '/post-login',
				// 			type: 'POST',
				// 			data: { userID: user,
				// 					userPass: pass },
				// 			success:function(response){
				// 				$("#OTP-area").css("visibility", "visible"); 
				// 			},
				// 			error: function(error) {
				// 				console.log(error);
				// 			}
				// 		});
						

				// 	});

		
				$("#otp-form").on("submit",function(even){
					even.preventDefault();
					var otp='';
					$('.otp-digit').each(function(){
						otp += $(this).val();
					});
					$.ajax({
						url:"/otp-check",
						type:"POST",
						data:{otp:otp},
						success:function(){
							$("#digit-1").val("");
							$("#digit-2").val("");
							$("#digit-3").val("");
							$("#digit-4").val("");
							$("#digit-5").val("");
							$("#digit-6").val("");						
						}
							
						})

					})

				
				
				$('.digit-group').find('input').each(function() {
					$(this).attr('maxlength', 1);
					$(this).on('keyup', function(e) {
						var parent = $($(this).parent());	
						if(e.keyCode === 8 || e.keyCode === 37) {
							var prev = parent.find('input#' + $(this).data('previous'));
							if(prev.length) {
								$(prev).select();
							}
						} 
						else if((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
							var next = parent.find('input#' + $(this).data('next'));
							if(next.length) {
								$(next).select();
							} 
							else {
								if(parent.data('autosubmit')) {
									parent.submit();
								}
							}
						}
					});
					// $.ajax({
					// 	url: '/check_status',
					// 	success: function(response) {
					// 		if (response.includes("--")){ 
					// 				// $('.login-title').html(response);

					// 		$("#process-area").hide();
					// 		var response = response.split('--')[1].trim()
					// 		var LoginSuccessedHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer"> Xin chào ' + response +'! Bạn đã đăng nhập thành công <span class="msg_time">' + str_time + '</span></div></div>';
					// 		$("#messageFormeight").append($.parseHTML(LoginSuccessedHtml));
					// 		$("#select-panel").css("visibility","visible");

					// 		}
					// 		else{
					// 			$('.login-title').html("Chưa thành công");
					// 		}
					// 	}
							
					// }); 
				});
			});
						

			$(function() {
			function slideMenu() {
				var activeState = $("#menu-container .menu-list").hasClass("active");
				$("#menu-container .menu-list").animate({left: activeState ? "0%" : "-100%"}, 400);
			}
			$("#menu-wrapper").click(function(event) {
				event.stopPropagation();
				$("#hamburger-menu").toggleClass("open");
				$("#menu-container .menu-list").toggleClass("active");
				slideMenu();

				$("body").toggleClass("overflow-hidden");
			});

			$(".menu-list").find(".accordion-toggle").click(function() {
				$(this).next().toggleClass("open").slideToggle("fast");
				$(this).toggleClass("active-tab").find(".menu-link").toggleClass("active");

				$(".menu-list .accordion-content").not($(this).next()).slideUp("fast").removeClass("open");
				$(".menu-list .accordion-toggle").not(jQuery(this)).removeClass("active-tab").find(".menu-link").removeClass("active");
			});
			}); // jQuery load



			const messageDiv = document.getElementById('messageFormeight');

			function scrollToBottom() {
				messageDiv.scrollTop = messageDiv.scrollHeight; 
			}

			// Call this function whenever new content is added to the div
			

			// Call this function whenever new content is added to the div

			// Code form cư trú
			
		
		


		</script>

        
    </body>
</html>